body {
  background: #001e3c;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > div {
  width: 33.3333%;
  display: flex;
  justify-content: center;
}

.wrapper > div > a {
  padding: 0px 20px;
}

button {
  color: white;
  background: #3399ff;
  padding: 9px;
  border-radius: 9px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.basic-flex {
  display: flex;
}
